<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>

<link rel="stylesheet" href="/static/style.css">

</head>
<body>
<center>
	<table>
	<tr>
		<td><img src="/static/logo.svg" height="64" width="64"></td>
		<td><b style="color: #1da1f2;font-size: 20pt">Library Management System</b></td>
	</tr>
	</table>
</center>
</table>
{{ main |safe}}
</body>
</html>
