body {
	font-family: Open Sans,DejaVu Sans,Sans;
	font-size: 14pt;
}

table#res {
margin: 0px auto;
	text-align:center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

table#res th {
  padding: .2em 1em;
  background-color: #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table#res td {
  padding: .2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}

table#res tr:nth-child(odd) {
  background-color: #ffddcc;
}

a { 
    color: black;
    text-decoration: none; 
}